* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: solid #ccc 1px;
  }
  
  h1 {
    text-align: center;
  }

  .containerHead {
    background-color: #e0e0e0;
    margin: 20px;
    padding: 40px;
  }

  .linksHead {
    text-decoration: none;
    display: block
    text-align: center;
  }

  .cards {
    border: black 2px solid;
    display: inline-block;
    text-align: center;
  }

  .imgCard {
    width: 200px;
    height: auto;
  }

  .linksTshirt {
    text-decoration: none;
    color: black;
    background-color: aqua;
  }

  .containerBox {


  }