* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.containerBtn {
    text-align: center;
    background-color: cadetblue;
    padding: 30px;
}

  .linksBtn {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 10px 20px;
    margin: 20px;
    align-items: center;
    border-radius: 5px;
    /* border: solid 2px red; */
  }